
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
  
body {
    padding: 25px;
}

img {
    max-width: 50px ;
    height: 50px;
    margin-right: 25px;
}
.alert-error {
    margin-top: 2px;
    padding: 20px;
    padding-left: 25px;
    border-radius: 6px;
    color: brown;
    background-color: #f0c6ca;
}
header {
    font-weight: lighter;
    background-color: #253dc5;
    padding: 30px;
    padding-left: 25px;
    color: whitesmoke;
}
select{
    width: 250px;
    height: 35px;
}
table {
    width: 100%;
    margin-top: 3px;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240) ;
    border-radius: 4px;
    box-shadow: 0px 3px 3px  rgb(179, 178, 178) ;
    color: #333;
}
th {
    width: 10%;
    padding: 3px;
    display: flex;  
}
.repo-container  {
    display: flex;
    justify-content: space-between;
}
li:nth-child(even) {
    background: rgb(224, 224, 224);
}
li {
    list-style: none;
}
.smallNumbers {
    padding: 5px;
    background-color: rgb(156, 148, 148);
    color: whitesmoke;
    border-radius: 5px;
    font-size: 12px;
    float:right;
}
a {
    display: flex;
    align-self: center;
}
.main-container {
    display: flex;
    
}
.repo-container,
.contributors-container, ul{
    width: 100%;
}
.repo-container{  
    background-color: #ebebeb;
}
ul{
    background-color: white;
}